<!DOCTYPE html>
<html ng-app="signalRApp">
<head>
	<title>Example Angular + SignalR</title>
</head>
<body ng-controller="MessagesController">
	<h1>Example: Messages pushed by SignalR</h1>

	<!-- <p>Client side <a href="https://github.com/SignalR/SignalR/wiki/SignalR-JS-Client">signalr-js-client</a></p> -->

	<button ng-click="makeConnection()">Make Connection</button>
	<button ng-click="stopConnection()">Stop Connection</button>

	<p>Status Connection: <b>{{status}}</b></p>
	<p>Connection id: <b>{{connectionId}}</b></p>
	
	<hr/>
	
	<h1>Message from server</h1>
	<p ng-bind-html="message" compile-template></p>
	<hr/>

	<h1>Send message to other clients</h1>
	<input ng-model="newMessage" ng-change="sendMessage(newMessage)" />
	
	<h1>Message from other client</h1>
	<p>Client: <b>{{messageFromOtherClient.Name}}</b>
	<p>Message: <b>{{messageFromOtherClient.Message}}</b>

	<hr/>

	<a href="http://localhost:8088/signalr/hubs">js meta data for hubs</a>
	
	<script src="bower_components/angular/angular.js"></script>

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/signalr/jquery.signalR.js"></script>
	<script src="scripts/angular-signalr.js"></script>
	<script src="http://localhost:8088/signalr/hubs"></script>
</body>
</html>
